@import '../style/mixins';
@import '../style/elements';

.ProfileCard {
  @include Card;
}

.UserImage {
  @include CardPhoto;
}

.UserInfo {
  margin: 10px;
  @include CardContent;
  h2 {
    margin: 0;
  }
  ul {
    margin: 5px 0 5px 0;
  }
}